# .gitignore

# Python
__pycache__/
*.pyc

# Virtual Environment
venv/

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# Environment Variables
app/.env

# Logs
*.log

# Podman
*.podman

# Docker
Dockerfile

# OS Files
.DS_Store

/.idea/

