# .gitignore

# Python
__pycache__/
*.pyc

# Virtual Environment
venv/

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# Environment Variables
app/.env

# MongoDB Data (if using local installation)
# Adjust the path if you have data mounted elsewhere
/data/db/

# Logs
*.log

# Podman
*.podman

# Docker
Dockerfile
